<!DOCTYPE html>
<html>
<head>
<title>An anonymous online emotional support forum</title>
</head>

<body>

  Two input boxes to go here:
  1)  username
  2)  password
  -Submit button 
</body>

</html>
