<!DOCTYPE html>
<html>
<head>
<title>An anonymous online emotional support forum</title>
</head>

<body>

  To do:
  1) input username (need to setup a way to look to see if username is already used)
--> will need some lightweight javascript
  2) if username is not taken, create account just with username and password
  3) maybe just add a disclamer here that unless the user saves their username/password,
  there will be no way to recover that info (like from an email) because the forum doesn't store
  emails in order for the user to remain anonymous

</body>

</html>
